
@{

}
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên Nhà Cung Cấp:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên Giao Dịch:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Địa Chỉ:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Số Điện Thoại:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia:</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>-- Chọn Quốc gia --</option>
                        <option>Việt Nam</option>
                        <option>America</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Thành Phố:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Mã Bưu Chính:</label>
                <div class="col-sm-10">
                    <input type="Text" class="form-control" >
                </div>
            </div>>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-floppy-dick"></i>
                        Lưu Dữ Liệu
                    </button>
                    <a href="~/Supplier" class=" btn btn-warning">
                        Quay Lại
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>

